/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .crate-button {
  display: inline-block;
  padding: 12px 24px;
  border: none;
  background-color: #e6e6e6;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.crate-button:before,
.crate-button:after {
  content: '';
  position: absolute;
  background-color: #ccc;
}

.crate-button:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
}

.crate-button:after {
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
}

.crate-button:hover {
  background-color: #ccc;
}

.crate-button:hover:before {
  background-color: #0648ff;
}

.crate-button:hover:after {
  background-color: #089cff;
}
